streamlit==1.38.0
pypdf==4.3.1
langchain==0.2.16
langchain-community==0.2.16
langchain-text-splitters==0.2.4
sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1
openai==1.44.0
anthropic==0.34.2
python-dotenv==1.0.1
